doctype html
block sign
    h1= sign
    form#formAddUser(name="addUser",method="post",action="/sign")
        input#inputUserName(type="text",placeholder="userName",name="userName")
        input#inputUserPass(type="text",placeholder="password",name="password")
        button#btnSubmit(type="submit") sign
    
block login
    h1= login
    form#formLogin(name="login",method="post",action="/login")
        input#inputUserName(type="text",placeholder="userName",name="userName")
        input#inputUserPass(type="text",placeholder="password",name="password")
        button#btnSubmit(type="submit") login